<div style="font-family:'Courier New', Courier, monospace">
    <center>
        <h1>500</h1>
        <p style="white-space:pre">
            Oh hacker, with your feeble might,
            You seek to cause our server fright.
            But know that we are not so weak,
            And your attempts, we'll quickly seek.

            Your tricks and schemes, they do amuse,
            But soon enough, we'll cut you loose.
            For servers are not toys to break,
            And your attempts, they're all so fake.

            So leave our server, and go away,
            Or face the consequences of your play.
            For we are strong, and you are small,
            And soon enough, you'll hit the wall.
        </p>
    </center>
</div>