{% extends "base.html" %}
{% load static %}

{% block title %}
Tuyển sinh
{% endblock %}

{% block body %}

    {% if done %}
    <center style="margin:1em">
        <p style="margin:.5em">Hồ sơ của học sinh có mã học sinh {{application.user.username}}.</p>
        <button onclick="print_form()">In hồ sơ</button>
        <button><a href="{{application.id}}/edit" style="text-decoration: none;color: black;">Chỉnh sửa hồ sơ</a></button>
    </center>
    {% else%}
    <center>
        <p style="margin:.5em">Chỉnh sửa hồ sơ của học sinh có mã học sinh {{application.user.username}}.</p>
    </center>
    {% endif %}

    {% include "application.html" with form=form application=application done=done%}
        
    
{% endblock %}